
.container {
    display: flex;
    height: 100vh; 
    width: 100vw;  
    margin: 0;
    padding: 0;
}

/* Left section containing the list of routes */
.left-box {
    width: 40%; 
    background-color: #f0f0f0;  
    padding: 20px;
    overflow-y: auto; 
}

/* Styling for each route box */
.outer-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    .edit-opt{
        display: flex;
        button{
            width: 200px;
        }
    }
}

/* Buttons inside the route box */
.outer-box button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.outer-box button:hover {
    background-color: #0056b3;
}

/* Right section containing the map */
.load-map {
    width: 60%;  
    background-color: #e0e0e0;  
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-route-btn{
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Buttons inside the route box */
.add-route-btn button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-route-btn button:hover {
    background-color: #0056b3;
}

.active-status {
    margin-bottom: 5px;
    background-color: #28a745 !important; 
    color: white;
  }
  
.inactive-status {
    margin-bottom: 5px;
    background-color: #dc3545 !important; 
    color: white;
}